body {
    margin: 0;
    overflow: hidden;
    background-color: #aaccff;
    font-family: sans-serif;
}
#crosshair {
    position: absolute;
    top: 50%; 
    left: 50%;
    /* Perfect screen centering */
    transform: translate(-50%, -50%);
    
    /* The overall size of the crosshair span */
    width: 14px; 
    height: 14px;
    
    pointer-events: none;
    z-index: 10;
}

/* Common styles for both lines of the cross */
#crosshair::before,
#crosshair::after {
    content: '';
    position: absolute;
    background: #ff0000;
    /* Thin black shadow border so you can see it against white clouds */
    box-shadow: 0 0 1px #000; 
}

/* Horizontal Line */
#crosshair::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px; /* Line thickness */
    transform: translateY(-50%);
}

/* Vertical Line */
#crosshair::after {
    left: 50%;
    top: 0;
    width: 1px; /* Line thickness */
    height: 100%;
    transform: translateX(-50%);
}
#menu {
    position: absolute;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: rgba(40, 50, 70, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    cursor: pointer;
}
#ui {
    position: absolute;
    bottom: 20px; left: 20px;
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-shadow: 2px 2px #333;
    z-index: 10;
}
h1 { font-size: 44px; margin-bottom: 10px; text-shadow: 2px 2px #222; }
p { font-size: 18px; margin-top: 0; }
